name: Trigger auto deployment for npc-graph

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/npc-graph-AutoDeployTrigger-91340a28-411e-42cd-bb95-b95dea8093da.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.NPCGRAPH_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.NPCGRAPH_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.NPCGRAPH_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: npcgraphcr.azurecr.io
          registryUsername: ${{ secrets.NPCGRAPH_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.NPCGRAPH_REGISTRY_PASSWORD }}
          containerAppName: npc-graph
          resourceGroup: npc-graph
          imageToBuild: npcgraphcr.azurecr.io/npc-graph:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


